html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

header {
	width: 100%;
	padding-bottom: 25px;
	flex-direction: column;
}

img {
	width: 70%;
    max-width: 200px;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1{
	font-size: 50px;
}

button{
    background-color: #FF66AF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color:#ffffff;
    font-size: 22px;
    padding: 10px;
    border:#FF66AF;
    border-radius: 10px;
}